*{
   margin: 0;

}


.container{
 height: 50vh;
 align-content: center;
 display: flex;
 gap: 20px;
 text-align: left;
 
   
}

button{
    border:none;
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

button{
    background-color: color-mix(in srgb, green 60%, red 40%);
}

input {
  width: 100%;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.password-field {
  position: relative;
 
  align-items: center;
}

.password-field input {
  width: 100%;
  padding-right: 40px; 
  height: 36px;
  font-size: 16px;
}

.password-field .toggle-btn {
  position: absolute;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
}
