*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-height: fit-content;
}

.box{
    display: flex;
    justify-content: space-around;
    padding: 60px;
    font-size: 20px;
    
}
.follow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

body{
    background-color: color-mix(in srgb, black 90%, white 10%);
}
.fa-instagram {
 
  color: rgb(211, 5, 98);
}
.fa-pinterest{
    color: brown;
}
.fa-youtube{
    color: red;
}
.authorization{
    color: white;
    text-align: center;
    padding: 30px;
}

.aboutus a{
    color: white;
}

.conditions a{
    color: white;
}

.contact a{
    color: white;
}


@media(max-width:1200px){
    .box{
        flex-direction: column;
        gap: 40px;
        align-items: center;
        
       
    }
}