<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="box">
        <div class="aboutus">
          <a href="#">About us</a>
        </div>
        <div class="conditions">
         <a href="#">Conditions</a>
        </div>
        <div class="follow">
          
          <a href=""class="fa fa-instagram">Instagram</a>
          <a href=""class="fa fa-facebook"> Facebook</a>
          <a href="" class="fa fa-pinterest" > Pinterest</a>
          <a href="" class="fa fa-youtube"> Youtube</a>

        </div>
        <div class="contact">
            <a href="">Contacts</a>

        </div>
        
    </div>
    <div class="authorization">
         © 2025 IT STEP ACADEMY. Built using VSC.
        </div>
</body>
</html>
