<header>
  <div class="header-container">
    <a routerLink="/">
      <h1>Step Restaurant</h1>
    </a>

  
    <div class="burger" [class.active]="menuOpen" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav [class.open]="menuOpen">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/cart">Cart</a></li>
        <li><a routerLink="/auth">Registration</a></li>
        <li><a routerLink="/login">Log in</a></li>
        
      </ul>
    </nav>
  </div>
</header>
